
/* styles.css */

body {
  font-family: Georgia, serif;
  background-color:#228b22;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.main_title {

  font-family: Georgia, serif;
  font-size: 100px;
  color: #228b22;
  
}
.contentBody{
  color: #333;
  font-size: 6px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  
}

.topnav a {
  float: left;
  color: #228b22;
  text-align: center;
  padding: 14px 120px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: b#228b22;
}

.topnav a.active {
  background-color: #FFFF00;
  color: #228b22;
}


img {
width: 800px; /* Set the width of the image */
height: 500px; /* Set the height of the image */
}

head{
background-color: aquamarine;
}


  
 
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
  
