
/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color:#228b22;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}



img {
width: 800px; /* Set the width of the image */
height: 500px; /* Set the height of the image */
}

head{
background-color: aquamarine;
}


  
 
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
  
