
/* styles.css */

head.stl2{
  background-color: aquamarine;
}

body.stl3 {
    font-family: Arial, sans-serif;
    background-color:#228b22;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
  
img {
  width: 800px; /* Set the width of the image */
  height: 500px; /* Set the height of the image */
}
  
